.nav-item{
	padding-left: 1em !important; 
}
.nav-link{
	text-transform: uppercase;
}
.navbar{
	background: #000;
}
.carousel-item{
	height: 450px;
}
.carousel-img-1{
	background: url('../img/6.jpg');
	background-size: cover;
}
.carousel-img-2{
	background: url('../img/7.jpg');
	background-size: cover;
}
.carousel-img-3{
	background: url('../img/8.jpg');
	background-size: cover;
}